
/*样式初始化*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset/*fieldset 元素可将表单内的相关元素分组*/,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td
{
  margin:0;
  padding:0;
  outline: 0;
  /*outline （轮廓）是绘制于元素周围的一条线，位于边框边缘的外围，可起到突出元素的作用。*/
  font:inherit;
  /*inherit 关键字指定一个属性应从父元素继承它的值。*/
    vertical-align: baseline;/*baseline 默认。元素放置在父元素的基线上。*/
}
 
body {
  font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  color: #333;
  min-width: 1226px
}
 
a{
  color:#555;
  text-decoration: none;
}
 
a:hover{
  text-decoration: underline;
}
 
img{
  border:none;
}
 
ol,ul,li{
  list-style: none;
}
 
table{
  border-collapse: collapse;/*为表格设置合并边框模型*/
}
 
/************共用样式***********/
 
 
/*清除盒子浮动*/
 
.clear:after{
  content: ".";
  display: block;;
  height: 0;
  clear: both;
  visibility: hidden;
}
 /*zoom:1让IE6的元素可以清除浮动来包裹内部元素*/
.clearfix{
  zoom:1;
}
 
.clearfix:before,clearfix:after{
  content:"";
  display:table;
}
 
.clearfix:after{
  clear: both;
}

.fl{
  float: left;
}
 
.fr{
  float: right;
}
 
/***************共用背景**********/
 
.web-icon{
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  display: inline-block;
}
 
.ico{
  width:15px;
  height:16px;
  background-position: 3px 5px;
  position:relative;
  top: 3px;
}

/*弹性布局样式*/
.df {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* 主轴为垂直方向，从上到下排列 */
.df_yc_list {
  flex-direction: column;
}

/* 居中对齐弹性盒的各项 */
.df_yc{
  align-items: center;
}
/* 设置在主轴居中排列 */
.df_xc {
  justify-content: center;
}

/* 均匀排列每个元素
每个元素周围分配相同的空间 */
.df_xcc {
  justify-content: space-around;
}

/* 顶部对齐弹性盒的各项 */
.dis_item_top {
  align-content: flex-start;
}
/* 设置弹性盒子元素在主轴（横轴）方向上的对齐方式。 */
.dis_item_around{
  justify-content: space-around;
}

/* 均匀排列每个元素
首个元素放置于起点，末尾元素放置于终点 */
.df_x_sb {
  justify-content: space-between;
}

.df_yc_top {
  align-content: flex-start;
}

.df_yc_ct {
  align-content: center;
}
.df_wr {
  flex-wrap: wrap;
}
.df_shrink{
  flex-shrink:0;
}

/* 浮动 */
.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  clear: left;
}


/*文本样式*/
.text_ell {
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text_ell_2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text_des {
  text-align: justify;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.text_click {
  color: #BA050E;
}

/*加载动画*/
.list_load {
  position: fixed;
  bottom: -10vh;
  left: 50%;
  background: #BA050E;
  background: rgba(186, 5, 14, .98);
  color: #fff;
  border-radius: 50px;
  margin-left: -100rpx;
  width: 200rpx;
  height: 60rpx;
  line-height: 60rpx;
  text-align: center;
  -moz-transition: bottom .3s ease-in, opacity .3s ease-in-out;
  -o-transition: bottom .3s ease-in, opacity .3s ease-in-out;
  -webkit-transition: bottom .3s ease-in, opacity .3s ease-in-out;
  transition: bottom .3s ease-in, opacity .3s ease-in-out;
}

.list_loading {
  bottom: 2.5vh;
  opacity: 1;
}

/*安全边距*/
.pad24 {
  padding: 24rpx;
  box-sizing: border-box;
}

/*动画库*/
.anim {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

/*分界线*/
.border {
  height: 16rpx;
  width: 100%;
  background-color: #f5f5f5;
}

.b_tips {
  color: #666;
  height: calc(25vh - 120rpx);
  text-align: center;
}

.iphone_btn {
  padding: 15rpx 24rpx;
  padding-bottom: calc(15rpx + constant(safe-area-inset-bottom));
  padding-bottom: calc(15rpx + env(safe-area-inset-bottom));
}

/* .page-body {
  padding-bottom: 110rpx;
  padding-bottom: calc(110rpx + constant(safe-area-inset-bottom));
  padding-bottom: calc(110rpx + env(safe-area-inset-bottom));
} */

/*弹出层*/
.box_btn_black {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .59);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 222;
}

/*表单组件*/
.b_btn {
  margin-top: 48rpx;
}

.b_btn .ly_btn {
  background: #BA050E;
  color: #fff;
  font-weight: normal;
  width: 702rpx !important;
}

.ly_btn_radius {
  border-radius: 100rpx;
}

